<!DOCTYPE html>
<html ng-app="requestsApp">
<head>
    <title>IFS Chemical Requests</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="content/styles.css" />
    

</head>
<body>
    
    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IFS Requests</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav nav-tabs" ng-controller="MainController">
          <li class="myorders active"><a href="#/{{permissions}}" title="View all order history"><i class="fa fa-list"></i> <span ng-show="permissions === 'standard'">My </span>Requests</a></li>
        <li class="suppliers" ng-show="permissions === 'admin'"><a href="#/{{permissions}}suppliers" title="View and change supplier details"><i class="fa fa-truck"></i> Suppliers</a></li>
        <li class="codes" ng-show="permissions === 'admin' || permissions === 'accountant'"><a href="#/{{permissions}}codes" title="View and change analysis codes"><i class="fa fa-credit-card"></i> Analysis Codes</a></li>
        <li class="users" ng-show="permissions === 'systemadmin'"><a href="#/{{permissions}}users" title="View and change user details"><i class="fa fa-users"></i> Users</a></li>
        <a href="#" ng-click="change();" class="change" style="display:none;">&nbsp;</a>

      </ul>
        <ul class="nav navbar-nav nav-pills" ng-controller="MainController" ng-show="permissions === 'standard' || permissions === 'admin' ">
        <li ng-controller="ModalCtrl" ><a href="" class="newModal" ng-click="open('lg', 0)" title="Create a new request"><i class="fa fa-file"></i> New Request</a></li>    
        </ul>
      <ul class="nav navbar-nav navbar-right">
          
        <li role="presentation" class="dropdown" style="margin-top: 8px;margin-right: 15px;">
            <button class="dropdown-toggle btn btn-default" title="Export all requests" data-toggle="dropdown" role="button" data-aria-expanded="false" style="color:black;">
                Export <span class="caret"></span>
            </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0);" target="_blank" onclick="$('.table').tableExport({type:'pdf',escape:'false',pdfFontSize:'7'});" style="color:black;">Export as PDF</a></li>
            <li><a href="javascript:void(0);" target="_blank" onclick="$('.table').tableExport({tableName: 'exportedRequests', type:'csv',escape:'false'});" style="color:black;">Export as CSV</a></li>
        </ul>
        </li>            
          
          
        <li ng-controller="ModalCtrl"><button ng-click="openFilter('md')" class="btn btn-default" style="margin-top: 8px;" title="Filter all requests"><i class="fa fa-filter"></i></button></li>
        <li ng-controller="MainController"><button ng-click="resetRequests()" class="btn btn-default" style="margin-top: 8px;margin-left: 13px;" title="Reset filter"><i class="fa fa-refresh"></i></button></li>
      </ul>
        
      <form class="navbar-form navbar-right" role="search">
        <div ng-controller="MainController" class="input-group">
            <input type="text" ng-model="searchString" class="form-control" placeholder="Search requests...">
            <span class="input-group-btn">
                <button ng-click="searchRequests()" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
      </form> 
        
 
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
    
   


    <div ng-view></div>




    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>        
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>


    <!-- UI Libs -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Export Libs -->    
    <script type="text/javascript" src="scripts/tableExport.js"></script>
    <script type="text/javascript" src="scripts/jquery.base64.js"></script>
    <script type="text/javascript" src="scripts/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="scripts/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="scripts/jspdf/libs/base64.js"> </script>   
    
    
    <!-- App libs -->
    
    <script src="app/app.js"></script>
    
    <script src="app/controllers/controllers.js"></script>
    <script src="app/services/requestsservice.js"></script>
    <script src="app/directives/pagination/dirPagination.js"></script>
    <script src="app/directives/uibootstrap/ui-bootstrap.js"></script>
    <script src="app/directives/autocomplete/autocomplete.js"></script>
    <script src="app/directives/autocomplete/event.js"></script>
    
</body>
</html>