<div class="view" >
    <div class="container">


        <div style="padding-bottom: 20px;padding-left: 10px;"><a href="#/standard" class="btn btn-default back-button"><span class="fa fa-arrow-left"></span> Go Back</a></div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
            <h2 style="display:inline;">Details for Request {{ request.id}}</h2>
            <div style="display:inline;float:right;">
                <div role="presentation" class="dropdown" style="display: inline;">
                    <a class="dropdown-toggle btn btn-default" title="Export single request" data-toggle="dropdown" href="javascript:void(0);" role="button" data-aria-expanded="false" style="color:black;">
                        Export <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0);" target="_blank" onclick="$('.table').tableExport({type:'pdf',escape:'false',pdfFontSize:'7'});" style="color:black;">Export as PDF</a></li>
                    <li><a href="javascript:void(0);" target="_blank" onclick="$('.table').tableExport({type:'csv',escape:'false'});" style="color:black;">Export as CSV</a></li>
                </ul>
                </div>                  
                <button class="btn btn-default " ng-controller="ModalCtrl" ng-click="openEdit('lg',request.id)" title="Edit request"><i class="fa fa-pencil-square-o"></i></button> 
            </div>    
  
  
  </div>


  <!-- Table -->
  <table class="table table-bordered ">
      <tbody>
          <tr>
              <td><span class="column">Request ID:</span> {{ request.id}}</td>
              <td><span class="column">Status:</span> {{ request.status}}</td>
              <td><span class="column">Date Created:</span> {{ request.date | date:'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
              <td><span class="column">Name:</span> {{ request.name}}</td>
              <td><span class="column">Phone:</span> {{ request.phone}}</td>
              <td><span class="column">Email:</span> {{ request.email}}</td>
          </tr>
          <tr>
              <td><span class="column">Type:</span> {{ request.type}}</td>
              <td><span class="column">Destination Room:</span> {{ request.destinationRoom}}</td>
              <td><span class="column">Item Description:</span> {{ request.itemDescription}}</td>
          </tr>
          <tr>
              <td><span class="column">Quality:</span> {{ request.quality}}</td>
              <td><span class="column">Size:</span> {{ request.size}}</td>
              <td><span class="column">Quantity:</span> {{ request.quantity}}</td>
          </tr>
          <tr>
              <td><span class="column">Verteré:</span> {{ request.vertere}}</td>
              <td><span class="column">Notes:</span> {{ request.notes}}</td>
              <td><span class="column">CAS:</span> {{ request.cas}}</td>
          </tr>
          <tr>
              <td><span class="column">Account Number:</span> {{ request.accountNumberPrefix + request.accountNumber}}</td>
              <td><span class="column">Supplier:</span> {{ request.supplier}}</td>
              <td><span class="column">Supplied Date:</span> {{request.dateSupplied | date:'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
              <td><span class="column">Admin:</span> {{ request.adminName}}</td>
              <td><span class="column">Cost:</span> {{ request.cost}}</td>
              <td><span class="column">Admin Notes:</span> {{ request.adminNotes}}</td>
          </tr>
          <tr>
              <td><span class="column">Analysis Code:</span> {{ request.analysisCode}}</td>
              <td><span class="column">Permit:</span> {{ request.permit}}</td>
              <td><span class="column">Permit Number:</span> {{ request.permitNumber}}</td>
          </tr>   
          <tr>
              <td><span class="column">Payment Type:</span> {{ request.paymentType}}</td>
              <td><span class="column">PN Number:</span> {{ request.pnNumber}}</td>
              <td><span class="column">&nbsp;</td>
          </tr>            
        
          
      </tbody>
</table>

<script>$('.myorders').removeClass('active');</script> 