        <header>
            <h3 style="text-align: center;">Create New Request</h3>
        </header>

        <form class="form-horizontal" style="margin-left:50px; width:80%;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Chemical Type</label>
                <div class="col-sm-10">
                    <input type="text"  ng-model="newRequest.chemicalType" class="form-control create-firstName" placeholder="Chemical Type">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Chemical Description</label>
                <div class="col-sm-10">
                    <input type="text"  ng-model="newRequest.itemDescription" class="form-control create-firstName" placeholder="Chemical Type">
                </div>
            </div>  
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Quality</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.quality" class="form-control create-lastName" placeholder="Quality">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Size</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.size" class="form-control create-city" placeholder="Size">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.quantity" class="form-control create-city" placeholder="Quantity">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Destination Room</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.destinationRoom" class="form-control create-city" placeholder="Destination Room">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Notes</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.notes" class="form-control create-city" placeholder="Notes">
                </div>
            </div>   
            
            <div class="form-group">
                <label class="col-sm-2 control-label">CAS</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.cas" class="form-control create-city" placeholder="CAS">
                </div>
            </div>               
            
            <div class="form-group">
                <label class="col-sm-2 control-label">chIM Tag</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.chimTag" class="form-control create-city" placeholder="chIM Tag">
                </div>
            </div>   
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Location Now</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newRequest.location" class="form-control create-city" placeholder="Location Now">
                </div>
            </div>               
            
            
        
        </form>




        <div class="modal-footer">
            <button class="btn btn-primary" type="button" 
                ng-disabled="!newRequest.chemicalType" 
                ng-click="insertRequest(); ok()">Add Request</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>