
    <div class="modal-content">
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
            <h2 style="text-align: center;">Create New Request</h2>
      </div>
    <div class="modal-body">    
        <form class="form-horizontal" style="width: 80%;margin: 0 auto;">
            <div class="form-group">
                <label class="control-label">Chemical Type</label>
                <select class="form-control" id="chemicalType" ng-model="request.chemicalType">
                    <option>Acid</option>
                    <option>Alkaline</option>
                    <option>Other</option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="control-label">Chemical Description</label>
                    <input type="text"  ng-model="request.itemDescription" class="form-control create-description" placeholder="Chemical Description">
            </div>  
            
            <div class="form-group">
                <label class="control-label">Quality</label>
                    <input type="number" ng-model="request.quality" class="form-control create-quality" placeholder="Quality">
            </div>

            <div class="form-group">
                <label class="control-label">Size</label>
  
                    <input type="number" ng-model="request.size" class="form-control create-size" placeholder="Size">
            </div>
            
            <div class="form-group">
                <label class="control-label">Quantity</label>

                    <input type="number" ng-model="request.quantity" class="form-control create-quantity" placeholder="Quantity">

            </div>
            <div class="form-group">
                <label class="control-label">Destination Room</label>

                    <input type="text" ng-model="request.destinationRoom" class="form-control create-room" placeholder="Destination Room">

            </div>
            
            <div class="form-group">
                <label class="control-label">Location Now</label>

                    <input type="text" ng-model="request.location" class="form-control create-location" placeholder="Location Now">
            </div>  
            
            
            <div class="form-group">
                <label class="control-label">Notes</label>

                    <input type="text" ng-model="request.notes" class="form-control create-notes" placeholder="Notes">

            </div>   
            
            <div class="form-group">
                <label class="control-label">Supplier</label>

                <select class="form-control" id="supplier" ng-model="request.supplier" disabled="1" placeholder="Admin only">
                    <option>Person A</option>
                    <option>Person B</option>
                    <option>Other</option>
                </select>

            </div> 
            
            <div class="form-group">
                <label class="control-label">CAS</label>

                    <input type="text" ng-model="request.cas" class="form-control create-cas" placeholder="Admin only" disabled="1">

            </div>               
            
            <div class="form-group">
                <label class="control-label">chIM Tag</label>

                    <input type="text" ng-model="request.chimTag" class="form-control create-tag" placeholder="Admin only" disabled="1">

            </div>   
            
              
            
            
        
        </form>


    </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-controller="ModalCtrl"
                ng-disabled="!request.chemicalType" 
                ng-click="insertRequest(); ok(); open('lg',0)">Add And New Request</button>            
            <button class="btn btn-primary" type="button" 
                ng-disabled="!request.chemicalType" 
                ng-click="insertRequest(); ok()">Add Request</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        
</div><!-- /.modal-content -->

    