
    <div class="modal-content">
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
            <h2 style="text-align: center;">Create New Request</h2>
      </div>
        <form class="form-horizontal" ng-submit="insertRequest();">
    <div class="modal-body">    
        
        <div style="margin: 0 auto;">
            
            
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Request Selection <a href="" onclick="$('.chem-select').slideToggle()" style="float:right;"><i class="fa fa-caret-down"></i></a></h3></div>
            <div class="panel-body chem-select">  
                
                
                
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Type <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.type}}"><i class="fa fa-question-circle"></i></a> </label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" id="type" ng-model="request.type" required>
                        <option value="" disabled selected>Select Type</option>
                        <option value="Chemical">Chemical</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Description <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.itemDescription}}"><i class="fa fa-question-circle"></i></a></label>
                </div>
                <div class="col-md-8">
                    <input type="text"  ng-model="request.itemDescription" class="form-control create-description" placeholder="Description" ui-event="{autocompletecreate:'changeClass(descriptionOptions)'}" ui-autocomplete="descriptionOptions" required>
                </div>        
            </div> 

                 
             
          
            <div class="form-group" style="padding:15px 0;">
                <div class="col-md-1">
                    <label class="control-label">Quality <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.quality}}"><i class="fa fa-question-circle"></i></a></label>
                </div>
                <div class="col-md-3">
                    <input type="number" min="0" ng-model="request.quality" class="form-control create-quality" placeholder="Quality">
                </div>
                <div class="col-md-1">
                    <label class="control-label">Size <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.size}}"><i class="fa fa-question-circle"></i></a></label>
                </div>
                <div class="col-md-3"> 
                    <input type="number" min="0" ng-model="request.size" class="form-control create-size" placeholder="Size">
                </div>
                <div class="col-md-1" style="padding-left:0px;"> 
                    <label class="control-label">Quantity <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.quantity}}"><i class="fa fa-question-circle"></i></a></label>
                </div>
                <div class="col-md-3"> 
                    <input type="number" min="0" ng-model="request.quantity" class="form-control create-quantity" placeholder="Quantity">                
                </div>
            </div>

            </div>
            </div>   
            
            
            <div class="panel panel-default">
            <div class="panel-heading"><h3>{{request.type}} Request Details <a href="" onclick="$('.req-details').slideToggle()" style="float:right;"><i class="fa fa-caret-down"></i></a></h3></div>
            <div class="panel-body req-details" style="display:none;">   
                
            <div class="form-group">
                <div class="col-md-4">
                    <div class="col-md-2"  style="width:80%;padding-left: 0px;">
                        <label class="control-label" >Import Permit Required <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.permit}}"><i class="fa fa-question-circle"></i></a> </label>
                    </div>
                    <div class="col-md-10" style="width:20%;">
                        <input type="checkbox"  ng-model="request.permit" class="form-control create-permit">
                    </div>   
                </div>
                <div class="col-md-8" style="margin-top: -15px;">
                    <div class="form-group" ng-show="request.permit === true" style="padding-bottom: 0px;margin-bottom: 0px;">
                        <div class="col-md-2" style="width:30%;">
                            <label class="control-label">Permit Number <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.permitNumber}}"><i class="fa fa-question-circle"></i></a> </label>
                        </div>
                    <div class="col-md-10" style="width:70%;">
                        <input type="number"  ng-model="request.permitNumber" class="form-control create-permitno" placeholder="Permit Number" ng-required="request.permit">
                    </div>        
                    </div> 
                </div>
                
            </div> 
                

                
                
            <div class="form-group" style="padding:15px 0;">
                <div class="col-md-2" style="width:20%;padding-right: 0px;"> 
                    <label class="control-label">Destination Room <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.destinationRoom}}"><i class="fa fa-question-circle"></i></a> </label>
                </div> 
                <div class="col-md-10" style="width:80%;"> 
                    <input type="text" ng-model="request.destinationRoom" class="form-control create-room" placeholder="Destination Room" ui-event="{autocompletecreate:'changeClass(destinationRoomOptions)'}" ui-autocomplete="destinationRoomOptions" required>
                </div>      
            </div>
                
              
                
            <div class="form-group">
                <div class="col-md-2" style="width:20%;">
                    <label class="control-label">CAS <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.cas}}"><i class="fa fa-question-circle"></i></a> </label>
                </div>
                <div class="col-md-10" style="width:80%;">        
                    <input type="text" ng-model="request.cas" class="form-control create-cas" placeholder="CAS" required>
                </div>

            </div>               
            

            
            <div class="form-group">
                <div class="col-md-2" style="width:20%;">
                    <label class="control-label">Account Number <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.accountNumber}}"><i class="fa fa-question-circle"></i></a> </label>
                </div>    
                <div class="col-md-10 input-group" style="width:80%;padding-right: 15px;padding-left: 15px;">   
                    <span class="input-group-addon ">
                        <select class="" ng-model="request.accountNumberPrefix" style="background-color: transparent;border: 0px;" required>
                            <option value="" disabled selected>Prefix</option>
                            <option>GL</option>
                            <option>PR</option>
                            <option>RM</option>
                            <option>NP</option>
                        </select>
                    </span>
                    <input type="number"  ng-model="request.accountNumber" maxlength="9" class="form-control create-acc" placeholder="Account Number" required>
                </div>    
            </div>
                
            <div class="form-group">
                <div class="col-md-2" style="width:20%;">
                    <label class="control-label">Analysis Code <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.analysisCode}}"><i class="fa fa-question-circle"></i></a> </label>
                </div>    
                <div class="col-md-10" style="width:80%;">    
                    <input type="text"  ng-model="request.analysisCode" maxlength="5" class="form-control create-code" placeholder="Analysis Code" ui-event="{autocompletecreate:'changeClass(analysisCodeOptions)'}" ui-autocomplete="analysisCodeOptions" >
                </div>    
            </div>                
                
            <div class="form-group">
                    <div class="col-md-12" style="padding-bottom: 10px;"> 
                        <label class="control-label">Notes <a href="javascript:void(0)" class="tooltip-circle" data-toggle="tooltip" title="{{tooltips.notes}}"><i class="fa fa-question-circle"></i></a> </label>
                    </div>
                    <div class="col-md-12"> 
                        <textarea ng-model="request.notes" class="form-control create-notes" placeholder="Notes" rows="3"></textarea>
                    </div>
            </div>  
                
            </div>
            </div>                  
                
            <div class="panel panel-default">
            <div class="panel-heading"><h3>Admin Only <a href="" onclick="$('.admin').slideToggle()" style="float:right;"><i class="fa fa-caret-down"></i></a></h3></div>
            <div class="panel-body admin" style="display:none;">  
                
             <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label" >Admin </label>
                </div>    
                <div class="col-md-10"> 
                    <div class="input group">

                        <input type="text" ng-model="request.adminName" class="form-control create-admin" placeholder="Admin" ng-disabled="permissions !== 'admin'">
                    </div>
                </div>    
            </div> 
                
            <div class="form-group">
                <div class="col-md-2"> 
                    <label class="control-label">Supplier </label>
                </div> 
                <div class="col-md-10"> 
                <select class="form-control" id="supplier" ng-model="request.supplier" ng-disabled="permissions !== 'admin'">
                    <option value="">Select Supplier</option>
                    <option ng-repeat="supplier in suppliers">{{supplier.name}}</option>
                </select>
                </div>    
            </div>
                
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label" >Verteré </label>
                </div>    
                <div class="col-md-10">    
                    <input type="text" ng-model="request.vertere" class="form-control create-tag" placeholder="Verteré" ng-disabled="permissions !== 'admin'">
                </div>    
            </div>  
                
                
                
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Payment Type </label>
                </div>    
                <div class="col-md-10"> 
                    <select class="form-control" id="paymentType" ng-model="request.paymentType" ng-disabled="permissions !== 'admin'">
                        <option value="" disabled selected>Select Payment Type</option>
                        <option>Internal Stock</option>
                        <option>Visa</option>
                        <option>Tech One</option>
                        <option>Proforma Invoice</option>
                    </select>
                </div>    
            </div>      
                
            <div class="form-group" ng-show="request.paymentType === 'Tech One'">
                <div class="col-md-2">
                    <label class="control-label">PN Number </label>
                </div>    
                <div class="col-md-10"> 
                    <div class="input group">

                        <input type="number" ng-model="request.pnNumber" class="form-control create-pnnumber" placeholder="PN Number" ng-disabled="permissions !== 'admin'" ng-required="request.paymentType === 'Tech One'">
                    </div>
                </div>    
            </div> 
                
            <div class="form-group" ng-show="request.paymentType === 'Proforma Invoice'">
                <div class="col-md-2">
                    <label class="control-label">Invoice Details </label>
                </div>    
                <div class="col-md-10"> 
                    <div class="input group">

                        <input type="text" ng-model="request.invoiceDetails" class="form-control create-pnnumber" placeholder="Invoice Details" ng-disabled="permissions !== 'admin'" ng-required="request.paymentType === 'Proforma Invoice'>
                    </div>
                </div>    
            </div>
                
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Cost </label>
                </div>    
                <div class="col-md-10"> 
                    <div class="input group">

                        <input type="text" ng-model="request.cost" class="form-control create-cost" placeholder="Cost" ng-disabled="permissions !== 'admin'" ng-required="request.paymentType === 'Internal Stock'">
                    </div>
                </div>    
            </div>                
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Status</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="type" ng-model="request.status" ng-disabled="permissions !== 'admin'">
                        <option value="">Select Status</option>
                        <option>Requested</option>
                        <option>Ordered</option>
                        <option>Received</option>
                        <option>Incorrect</option>
                        <option>Supplied</option>
                        <option>Cancelled</option>
                    </select>
                </div>
            </div>
                
            <div class="form-group">
                    <div class="col-md-12" style="padding-bottom: 10px;"> 
                        <label class="control-label">Admin Notes </label>
                    </div>
                    <div class="col-md-12"> 
                        <textarea ng-model="request.adminNotes" class="form-control create-adminnotes" ng-disabled="permissions !== 'admin'" placeholder="Admin Notes" rows="3" ng-required="request.status === 'Cancelled'"></textarea>
                    </div>
            </div>    
            
            </div>
            </div>                
            
            
        



    </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="submit"  ng-click="open = true">Add And New Request</button> 
            <button class="btn btn-primary" type="submit" ng-click="open = false">Add Request</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
       
</div><!-- /.modal-content -->
 </form>
        
    </div>
    