        <header>
            <h3 style="text-align: center;">Filter Requests</h3>
        </header>

        <form class="form-horizontal" style="margin-left:50px; width:80%;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Date between</label>
                <div class="col-sm-4">
                    <input type="date"  class="form-control">
                </div>
                <div class="col-sm-2">
                    and
                </div>
                <div class="col-sm-4">
                    <input type="date"  class="form-control">
                </div>                
            </div>
            
                          
            
            
        
        </form>




        <div class="modal-footer">
            <button class="btn btn-primary" type="button">Filter</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>